<article>
	<h3>Current State</h3>
	<p>
		{% include text_logo.html %} works for <a href = "https://paperhive.org">paperhive</a> documents and
		<a href = "https://github.com">github</a> repositories.
	</p>

	<div class = "three white">
		<div class = "image paperhive">	</div>
		<div class = "image arrow-right">	</div>
		<div class = "image github">		</div>
	</div>

	<p>
		Use the <a href = "https://app.docloop.net">example app</a> to link a document to your repository. Once the link is established all annotations (and replies)
		will be copied to your github issue tracker. After that {% include text_logo.html %} will check periodically for the new annotations.
	</p>

</article>